@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.nav_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }

.nav_btn-burger {
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 5px;
  transition: all 0.5s ease-in-out; }
  .nav_btn-burger:hover {
    background-color: #9ec1d7; }

.nav_btn-burger::before,
.nav_btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 3px;
  transition: all 0.5s ease-in-out; }

.nav_btn-burger:hover::before,
.nav_btn-burger:hover::after {
  background-color: #9ec1d7; }

.nav_btn-burger::before {
  transform: translateY(-8px); }

.nav_btn-burger::after {
  transform: translateY(8px); }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/header_bcg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    header {
      height: auto;
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/background3.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
      header .bg-video {
        display: none; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    header {
      overflow: hidden;
      height: auto;
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/background3.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
      header .bg-video {
        display: none; } }
  header .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.65;
    overflow: hidden; }
  header__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.nav__headear {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 50px;
  color: #1b1c27;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 27px;
  border: 1px solid #000;
  padding: 0 20px; }
  .nav__headear .fa-times-circle {
    opacity: 0; }
    .nav__headear .fa-times-circle:hover {
      color: #9ec1d7; }
  .nav__headear .nav__header-logo {
    width: 100px; }
  .nav__headear .nav__header-ul {
    display: flex;
    margin-right: auto;
    margin-left: 50px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear .nav__header-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        margin: unset;
        z-index: 10;
        transform: translate(-100%); } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear .nav__header-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        margin: unset;
        z-index: 10;
        transform: translate(-100%); } }
    .nav__headear .nav__header-ul li:not(:last-child) {
      margin-right: 20px; }
    .nav__headear .nav__header-ul li {
      transition: all 0.5s ease-in-out; }
      @media only screen and (min-width: 651px) and (max-width: 896px) {
        .nav__headear .nav__header-ul li {
          padding: 25px 0; } }
      @media only screen and (min-width: 200px) and (max-width: 650px) {
        .nav__headear .nav__header-ul li {
          padding: 25px 0; } }
      .nav__headear .nav__header-ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #65403a;
        transition: all 0.5s ease-in-out;
        transform: translateY(37px); }
      .nav__headear .nav__header-ul li a:hover::after {
        width: 100%;
        transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-ul li a:hover {
        color: #9ec1d7; }
  .nav__headear .nav__header-login--ul {
    display: flex; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear .nav__header-login--ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        transform: translate(-100%);
        z-index: 10; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear .nav__header-login--ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        transform: translate(-100%);
        z-index: 10; } }
    .nav__headear .nav__header-login--ul li {
      margin-left: 20px;
      transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-login--ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #65403a;
        transition: all 0.5s ease-in-out;
        transform: translateY(37px); }
      .nav__headear .nav__header-login--ul li a:hover::after {
        width: 100%;
        transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-login--ul li a:hover {
        color: #9ec1d7; }
  .nav__headear #searchBtn {
    margin-right: 20px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear #searchBtn {
        margin-left: auto; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear #searchBtn {
        margin-left: auto; } }
    .nav__headear #searchBtn:hover {
      color: #9ec1d7;
      cursor: pointer; }

@media only screen and (min-width: 651px) and (max-width: 896px) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: #65403a;
    transition: all 0.5s ease-in-out; } }
@media only screen and (min-width: 200px) and (max-width: 650px) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: #65403a;
    transition: all 0.5s ease-in-out; } }
.nav__header-ul--toggle {
  display: none; }

/********************************
HEADER CONTENT
********************************/
.header__content {
  display: flex;
  color: #fff; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .header__content {
      flex-direction: column; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__content {
      flex-direction: column; } }

.header__info {
  padding-bottom: 50px; }
  .header__info h1 {
    font-size: 3.1rem;
    margin-top: 50px;
    text-transform: capitalize;
    max-width: 16rem; }
  .header__info p {
    margin: 50px 0 100px;
    max-width: 400px;
    font-weight: 500;
    font-size: 1.1rem; }
  .header__info .header__info-btns a:not(:last-child) {
    display: inline-block;
    text-align: center;
    background-color: #9ec1d7;
    color: #fff;
    border: 1px solid #9ec1d7;
    letter-spacing: 2px;
    padding: 16px 20px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden; }
    .header__info .header__info-btns a:not(:last-child):hover {
      color: #9ec1d7;
      background-color: #fff;
      border: 1px solid #9ec1d7; }
  .header__info .header__info-btns a:last-child {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #9ec1d7;
    border: 1px solid #fff;
    letter-spacing: 2px;
    padding: 16px 20px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden; }
    .header__info .header__info-btns a:last-child:hover {
      color: #fff;
      background-color: #9ec1d7;
      border: 1px solid #fff; }

.header__quide .header__quide-content {
  display: flex;
  margin-top: 330px; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .header__quide .header__quide-content {
      margin: 70px 0 70px 140px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-content {
      margin: 70px 0 70px 140px;
      flex-direction: column; } }
  .header__quide .header__quide-content .fa-quote-left {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.4); }
.header__quide .header__quide-best {
  margin-left: -34px;
  margin-top: 30px; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-best {
      margin-left: 14px;
      margin-top: -44px; } }
  .header__quide .header__quide-best p {
    max-width: 460px; }
@media only screen and (min-width: 200px) and (max-width: 650px) {
  .header__quide .header__quide-profile {
    margin-top: 30px;
    margin-left: auto; } }
.header__quide .header__quide-profile img {
  width: 44px;
  height: 44px;
  border-radius: 50%; }
.header__quide .header__quide-data {
  position: absolute;
  transform: rotate(-90deg) scaleX(-1);
  transform-origin: top left;
  margin-top: 20px;
  width: 60px; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-data {
      transform: rotate(0deg) scaleX(-1);
      transform-origin: top left;
      margin-left: -10px;
      margin-top: -40px; } }
  .header__quide .header__quide-data .header__quide-name {
    transform: scaleX(-1);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px; }
  .header__quide .header__quide-data .header__quide-country {
    transform: scaleX(-1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.nav_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }

.nav_btn-burger {
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 5px;
  transition: all 0.5s ease-in-out; }
  .nav_btn-burger:hover {
    background-color: #9ec1d7; }

.nav_btn-burger::before,
.nav_btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 3px;
  transition: all 0.5s ease-in-out; }

.nav_btn-burger:hover::before,
.nav_btn-burger:hover::after {
  background-color: #9ec1d7; }

.nav_btn-burger::before {
  transform: translateY(-8px); }

.nav_btn-burger::after {
  transform: translateY(8px); }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.header__search {
  position: relative;
  display: none;
  margin-left: auto;
  transition: all 0.5s ease-in-out; }
  .header__search-input {
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 17px;
    background: #9ec1d7;
    padding: 10px 100px 10px 40px;
    border-radius: 50px; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .header__search-input {
        padding: 10px 40px 10px 30px; } }
  .header__search .header__search-icon1 {
    position: absolute;
    top: 10px;
    left: 9px; }
    .header__search .header__search-icon1:hover {
      color: #18465a;
      cursor: pointer; }
  .header__search .header__search-icon2 {
    position: absolute;
    top: 10px;
    right: 10px; }
    .header__search .header__search-icon2:hover {
      color: #18465a;
      cursor: pointer; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.explore {
  border: 1px solid #1b1c27;
  display: flex;
  background-color: #9ec1d7;
  align-items: center; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .explore {
      display: block; } }

.explore__card {
  flex: 0 0 45%; }
  .explore__card .explore__card-content {
    margin-left: 20%;
    max-width: 420px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .explore__card .explore__card-content {
        margin-left: 10%;
        width: 100%; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .explore__card .explore__card-content {
        text-align: center;
        max-width: unset;
        margin: 0 2.5% 5% 2.5%; } }
    .explore__card .explore__card-content .explore__card-title {
      font-weight: 700;
      font-size: 75px;
      line-height: 91px;
      color: #eff1ee; }
    .explore__card .explore__card-content .explore__card-h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: #1b1c27;
      margin-top: -43px; }
    .explore__card .explore__card-content .explore__card-p {
      margin: 30px 0; }
    .explore__card .explore__card-content .explore__card-content-a {
      display: inline-block;
      text-align: center;
      background-color: #fff;
      color: #9ec1d7;
      border: 1px solid #fff;
      letter-spacing: 2px;
      padding: 16px 20px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden; }
      .explore__card .explore__card-content .explore__card-content-a:hover {
        color: #fff;
        background-color: #9ec1d7;
        border: 1px solid #fff; }

.explore__slider {
  flex: 0 0 55%;
  position: relative; }
  .explore__slider .explore__slider-content {
    width: 88%;
    height: 415px;
    margin-left: auto; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .explore__slider .explore__slider-content {
        width: 95%; } }

/*** swiper ***/
.swiper {
  max-width: 700px;
  height: 100%;
  margin-right: unset; }

p {
  color: #fff; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-slide {
  max-width: 280px; }

.swiper-slide,
.img-box {
  max-width: 280px;
  height: 100%;
  position: relative; }

.img-box p {
  position: absolute;
  left: 25px;
  bottom: 25px; }

:root {
  --swiper-theme-color: #000;
  --swiper-navigation-size: 30px; }

.swiper-button-next,
.swiper-button-prev {
  background-color: white; }

.swiper-button-prev {
  clip-path: polygon(50% 0, 21% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%); }

.swiper-button-next {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 80% 50%, 50% 0); }

/*# sourceMappingURL=style.css.map */
