@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;700&display=swap");
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .section__title::after {
    display: block;
    content: "";
    width: 30%;
    height: 5px;
    background: linear-gradient(40deg, #9ec1d7, #fff);
    margin: 10px auto 70px auto; }

.ballon {
  height: 200px;
  background-color: red; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.nav_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }

.nav_btn-burger {
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 5px;
  transition: all 0.5s ease-in-out; }
  .nav_btn-burger:hover {
    background-color: #9ec1d7; }

.nav_btn-burger::before,
.nav_btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 3px;
  transition: all 0.5s ease-in-out; }

.nav_btn-burger:hover::before,
.nav_btn-burger:hover::after {
  background-color: #9ec1d7; }

.nav_btn-burger::before {
  transform: translateY(-8px); }

.nav_btn-burger::after {
  transform: translateY(8px); }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .section__title::after {
    display: block;
    content: "";
    width: 30%;
    height: 5px;
    background: linear-gradient(40deg, #9ec1d7, #fff);
    margin: 10px auto 70px auto; }

.ballon {
  height: 200px;
  background-color: red; }

header {
  background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/header_bcg.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  overflow: hidden; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    header {
      height: auto;
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/background3.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
      header .bg-video {
        display: none; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    header {
      overflow: hidden;
      height: auto;
      background: linear-gradient(rgba(0, 0, 0, 0.35), rgba(0, 0, 0, 0.35)), url("../img/background3.jpg");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      overflow: hidden; }
      header .bg-video {
        display: none; } }
  header .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.65;
    overflow: hidden; }
  header__content {
    height: 100%;
    width: 100%;
    object-fit: cover; }

.nav__headear {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: #fff;
  margin-top: 50px;
  color: #1b1c27;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 27px;
  border: 1px solid #000;
  padding: 0 20px; }
  .nav__headear .fa-times-circle {
    opacity: 0; }
    .nav__headear .fa-times-circle:hover {
      color: #9ec1d7; }
  .nav__headear .nav__header-logo {
    width: 100px; }
  .nav__headear .nav__header-ul {
    display: flex;
    margin-right: auto;
    margin-left: 50px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear .nav__header-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        margin: unset;
        z-index: 10;
        transform: translate(-100%); } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear .nav__header-ul {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 80%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        margin: unset;
        z-index: 10;
        transform: translate(-100%); } }
    .nav__headear .nav__header-ul li:not(:last-child) {
      margin-right: 20px; }
    .nav__headear .nav__header-ul li {
      transition: all 0.5s ease-in-out; }
      @media only screen and (min-width: 651px) and (max-width: 896px) {
        .nav__headear .nav__header-ul li {
          padding: 25px 0; } }
      @media only screen and (min-width: 200px) and (max-width: 650px) {
        .nav__headear .nav__header-ul li {
          padding: 25px 0; } }
      .nav__headear .nav__header-ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #65403a;
        transition: all 0.5s ease-in-out;
        transform: translateY(37px); }
      .nav__headear .nav__header-ul li a:hover::after {
        width: 100%;
        transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-ul li a:hover {
        color: #9ec1d7; }
  .nav__headear .nav__header-login--ul {
    display: flex; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear .nav__header-login--ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        transform: translate(-100%);
        z-index: 10; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear .nav__header-login--ul {
        position: fixed;
        bottom: 0;
        left: 0;
        width: 100%;
        height: 20%;
        align-items: center;
        justify-content: center;
        background: #eff1ee;
        transition: all 0.5s ease-in-out;
        transform: translate(-100%);
        z-index: 10; } }
    .nav__headear .nav__header-login--ul li {
      margin-left: 20px;
      transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-login--ul li a::after {
        content: "";
        display: block;
        width: 0;
        height: 3px;
        background: #65403a;
        transition: all 0.5s ease-in-out;
        transform: translateY(37px); }
      .nav__headear .nav__header-login--ul li a:hover::after {
        width: 100%;
        transition: all 0.5s ease-in-out; }
      .nav__headear .nav__header-login--ul li a:hover {
        color: #9ec1d7; }
  .nav__headear #searchBtn {
    margin-right: 20px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .nav__headear #searchBtn {
        margin-left: auto; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .nav__headear #searchBtn {
        margin-left: auto; } }
    .nav__headear #searchBtn:hover {
      color: #9ec1d7;
      cursor: pointer; }

@media only screen and (min-width: 651px) and (max-width: 896px) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: #65403a;
    transition: all 0.5s ease-in-out; } }
@media only screen and (min-width: 200px) and (max-width: 650px) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: fixed;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: #65403a;
    transition: all 0.5s ease-in-out; } }
.nav__header-ul--toggle {
  display: none; }

/********************************
HEADER CONTENT
********************************/
.header__content {
  display: flex;
  color: #fff; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .header__content {
      flex-direction: column; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__content {
      flex-direction: column; } }

.header__info {
  padding-bottom: 50px; }
  .header__info h1 {
    font-size: 3.1rem;
    margin-top: 50px;
    text-transform: capitalize;
    max-width: 16rem; }
  .header__info p {
    margin: 50px 0 100px;
    max-width: 400px;
    font-weight: 500;
    font-size: 1.1rem; }
  .header__info .header__info-btns a:not(:last-child) {
    display: inline-block;
    text-align: center;
    background-color: #9ec1d7;
    color: #fff;
    border: 1px solid #9ec1d7;
    letter-spacing: 2px;
    padding: 16px 20px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden; }
    .header__info .header__info-btns a:not(:last-child):hover {
      color: #9ec1d7;
      background-color: #fff;
      border: 1px solid #9ec1d7; }
  .header__info .header__info-btns a:last-child {
    display: inline-block;
    text-align: center;
    background-color: #fff;
    color: #9ec1d7;
    border: 1px solid #fff;
    letter-spacing: 2px;
    padding: 16px 20px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden; }
    .header__info .header__info-btns a:last-child:hover {
      color: #fff;
      background-color: #9ec1d7;
      border: 1px solid #fff; }

.header__quide .header__quide-content {
  display: flex;
  margin-top: 330px; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .header__quide .header__quide-content {
      margin: 70px 0 70px 140px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-content {
      margin: 70px 0 70px 140px;
      flex-direction: column; } }
  .header__quide .header__quide-content .fa-quote-left {
    font-size: 5rem;
    color: rgba(255, 255, 255, 0.4); }
.header__quide .header__quide-best {
  margin-left: -34px;
  margin-top: 30px; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-best {
      margin-left: 14px;
      margin-top: -44px; } }
  .header__quide .header__quide-best p {
    max-width: 460px; }
@media only screen and (min-width: 200px) and (max-width: 650px) {
  .header__quide .header__quide-profile {
    margin-top: 30px;
    margin-left: auto; } }
.header__quide .header__quide-profile img {
  width: 44px;
  height: 44px;
  border-radius: 50%; }
.header__quide .header__quide-data {
  position: absolute;
  transform: rotate(-90deg) scaleX(-1);
  transform-origin: top left;
  margin-top: 20px;
  width: 60px; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .header__quide .header__quide-data {
      transform: rotate(0deg) scaleX(-1);
      transform-origin: top left;
      margin-left: -10px;
      margin-top: -40px; } }
  .header__quide .header__quide-data .header__quide-name {
    transform: scaleX(-1);
    font-weight: 700;
    font-size: 14px;
    line-height: 20px; }
  .header__quide .header__quide-data .header__quide-country {
    transform: scaleX(-1);
    font-weight: 400;
    font-size: 12px;
    line-height: 20px; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.nav_btn {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 40px;
  height: 40px;
  cursor: pointer;
  transition: all 0.5s ease-in-out;
  opacity: 0; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .nav_btn {
      opacity: 1;
      margin-left: 10px; } }

.nav_btn-burger {
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 5px;
  transition: all 0.5s ease-in-out; }
  .nav_btn-burger:hover {
    background-color: #9ec1d7; }

.nav_btn-burger::before,
.nav_btn-burger::after {
  content: "";
  position: absolute;
  width: 25px;
  height: 3px;
  background: #1b1c27;
  border-radius: 3px;
  transition: all 0.5s ease-in-out; }

.nav_btn-burger:hover::before,
.nav_btn-burger:hover::after {
  background-color: #9ec1d7; }

.nav_btn-burger::before {
  transform: translateY(-8px); }

.nav_btn-burger::after {
  transform: translateY(8px); }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .section__title::after {
    display: block;
    content: "";
    width: 30%;
    height: 5px;
    background: linear-gradient(40deg, #9ec1d7, #fff);
    margin: 10px auto 70px auto; }

.ballon {
  height: 200px;
  background-color: red; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.header__search {
  position: relative;
  display: none;
  margin-left: auto;
  transition: all 0.5s ease-in-out; }
  .header__search-input {
    border: none;
    font-weight: 300;
    font-size: 0.9rem;
    line-height: 17px;
    background: #9ec1d7;
    padding: 10px 100px 10px 40px;
    border-radius: 50px; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .header__search-input {
        padding: 10px 40px 10px 30px; } }
  .header__search .header__search-icon1 {
    position: absolute;
    top: 10px;
    left: 9px; }
    .header__search .header__search-icon1:hover {
      color: #18465a;
      cursor: pointer; }
  .header__search .header__search-icon2 {
    position: absolute;
    top: 10px;
    right: 10px; }
    .header__search .header__search-icon2:hover {
      color: #18465a;
      cursor: pointer; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .section__title::after {
    display: block;
    content: "";
    width: 30%;
    height: 5px;
    background: linear-gradient(40deg, #9ec1d7, #fff);
    margin: 10px auto 70px auto; }

.ballon {
  height: 200px;
  background-color: red; }

.explore {
  display: flex;
  background-color: #9ec1d7;
  align-items: center; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .explore {
      display: block; } }

.explore__card {
  flex: 0 0 45%; }
  .explore__card .explore__card-content {
    margin-left: 20%;
    max-width: 420px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .explore__card .explore__card-content {
        margin-left: 10%;
        width: 100%; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .explore__card .explore__card-content {
        text-align: center;
        max-width: unset;
        margin: 0 2.5% 5% 2.5%; } }
    .explore__card .explore__card-content .explore__card-title {
      font-weight: 700;
      font-size: 75px;
      line-height: 91px;
      color: #eff1ee; }
    .explore__card .explore__card-content .explore__card-h3 {
      font-weight: 700;
      font-size: 28px;
      line-height: 34px;
      color: #1b1c27;
      margin-top: -43px; }
    .explore__card .explore__card-content .explore__card-p {
      margin: 30px 0; }
    .explore__card .explore__card-content .explore__card-content-a {
      display: inline-block;
      text-align: center;
      background-color: #fff;
      color: #9ec1d7;
      border: 1px solid #fff;
      letter-spacing: 2px;
      padding: 16px 20px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden; }
      .explore__card .explore__card-content .explore__card-content-a:hover {
        color: #fff;
        background-color: #9ec1d7;
        border: 1px solid #fff; }

.explore__slider {
  flex: 0 0 55%;
  position: relative; }
  .explore__slider .explore__slider-content {
    width: 88%;
    height: 415px;
    margin-left: auto; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .explore__slider .explore__slider-content {
        width: 95%; } }

/*** swiper ***/
.swiper {
  max-width: 700px;
  height: 100%;
  margin-right: unset; }
  .swiper p {
    color: #fff; }

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover; }

.swiper-slide {
  max-width: 280px; }

.swiper-slide,
.img-box {
  max-width: 280px;
  height: 100%;
  position: relative; }

.img-box p {
  position: absolute;
  left: 25px;
  bottom: 25px; }

:root {
  --swiper-theme-color: #000;
  --swiper-navigation-size: 30px; }

.swiper-button-next,
.swiper-button-prev {
  background-color: white; }

.swiper-button-prev {
  clip-path: polygon(50% 0, 21% 50%, 50% 100%, 25% 100%, 0% 50%, 25% 0%); }

.swiper-button-next {
  clip-path: polygon(75% 0%, 100% 50%, 75% 100%, 50% 100%, 80% 50%, 50% 0); }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
*,
*::before,
*::after {
  box-sizing: border-box; }

/* Remove default padding */
ul,
ol {
  padding: 0; }

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
ul,
ol,
li,
figure,
figcaption,
blockquote,
dl,
dd {
  margin: 0; }

/* Set core body defaults */
body {
  min-height: 100vh;
  scroll-behavior: smooth;
  text-rendering: optimizeSpeed;
  line-height: 1.5;
  font-family: "Roboto", sans-serif; }

html {
  scroll-behavior: smooth; }

/* Remove list styles on ul, ol elements with a class attribute */
ul,
ol {
  list-style: none; }

/* A elements that don't have a class get default styles */
a:not([class]) {
  text-decoration-skip-ink: auto; }

/* Make images easier to work with */
img {
  width: 100%;
  display: block; }

/* Natural flow and rhythm in articles by default */
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit; }

/* Remove all animations and transitions for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  * {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important; } }
.container {
  width: 80%;
  margin: 0 auto; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 90%; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .container {
      width: 95%; } }

.py {
  padding: 60px 0 90px; }
  @media (max-width: 1300px) {
    .py {
      padding: 40px 0; } }
  @media (max-width: 768px) {
    .py {
      padding: 30px 0; } }

a {
  text-decoration: none;
  color: inherit; }

.section__title {
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px; }
  .section__title::after {
    display: block;
    content: "";
    width: 30%;
    height: 5px;
    background: linear-gradient(40deg, #9ec1d7, #fff);
    margin: 10px auto 70px auto; }

.ballon {
  height: 200px;
  background-color: red; }

.traveling {
  height: 770px; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .traveling {
      height: 1070px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .traveling {
      height: 1120px; } }

.traveling__holder {
  background-color: #18465a;
  margin-top: 50px;
  position: relative;
  z-index: 3; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .traveling__holder {
      background-color: transparent; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .traveling__holder {
      background-color: transparent; } }
  .traveling__holder .traveling__description {
    max-width: 40%;
    padding: 25px 0 20px 20px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .traveling__holder .traveling__description {
        background-color: #18465a;
        z-index: 2;
        max-width: 90%;
        margin: 0 auto; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .traveling__holder .traveling__description {
        background-color: #18465a;
        z-index: 2;
        max-width: 90%;
        margin: 0 auto; } }
    .traveling__holder .traveling__description h3 {
      text-transform: uppercase; }
    .traveling__holder .traveling__description h4 {
      text-transform: uppercase;
      margin: 20px 0;
      font-weight: 400; }
    .traveling__holder .traveling__description .traveling__link {
      display: inline-block;
      text-align: center;
      background-color: #9ec1d7;
      color: #fff;
      border: 1px solid #9ec1d7;
      letter-spacing: 2px;
      padding: 16px 20px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden;
      margin-top: 30px; }
      .traveling__holder .traveling__description .traveling__link:hover {
        color: #9ec1d7;
        background-color: #fff;
        border: 1px solid #9ec1d7; }
  .traveling__holder .traveling__accordion {
    width: 50%;
    background-color: #9ec1d7;
    position: absolute;
    right: 20px;
    top: -20px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .traveling__holder .traveling__accordion {
        width: 100%;
        position: absolute;
        right: unset;
        top: 50%;
        z-index: -1;
        padding-top: 175px; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .traveling__holder .traveling__accordion {
        width: 100%;
        position: absolute;
        right: unset;
        top: 50%;
        z-index: -1;
        padding-top: 175px; } }
    .traveling__holder .traveling__accordion h3 {
      text-align: center;
      margin: 25px 0; }
    .traveling__holder .traveling__accordion .accordion {
      width: 90%;
      margin: 0 auto;
      overflow: hidden;
      border-radius: 2px; }
      .traveling__holder .traveling__accordion .accordion .accordion__item {
        margin-bottom: 20px; }
      .traveling__holder .traveling__accordion .accordion__header {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        padding: 1.5rem 1rem;
        width: 100%;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        border: none;
        outline: none;
        color: #eff1ee;
        cursor: pointer; }
        .traveling__holder .traveling__accordion .accordion__header:hover {
          opacity: 0.5; }
        .traveling__holder .traveling__accordion .accordion__header strong {
          margin-right: 20px; }
      .traveling__holder .traveling__accordion .accordion .accordion__header-1 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/italy_panorama.jpg); }
      .traveling__holder .traveling__accordion .accordion .accordion__header-2 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/china.jpg); }
      .traveling__holder .traveling__accordion .accordion .accordion__header-3 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/brazil_panorama.jpg); }
      .traveling__holder .traveling__accordion .accordion .accordion__header-4 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/cuba.jpg); }
      .traveling__holder .traveling__accordion .accordion .accordion__header-5 {
        background-image: linear-gradient(rgba(0, 0, 0, 0.45), rgba(0, 0, 0, 0.45)), url(../img/spania.jpg); }
      .traveling__holder .traveling__accordion .accordion__body {
        padding: 0 1rem;
        text-align: center;
        overflow: hidden;
        transition: all 0.5s ease-in-out;
        max-height: 0; }
        .traveling__holder .traveling__accordion .accordion__body h3::after {
          display: block;
          content: "";
          width: 10%;
          height: 2px;
          background: #65403a;
          margin: 10px auto 10px auto; }
        .traveling__holder .traveling__accordion .accordion__body p {
          margin-bottom: 50px; }
      .traveling__holder .traveling__accordion .accordion__body.active {
        max-height: fit-content; }

.accordion__header.active {
  opacity: 0.5; }

.accordion__header.active i {
  transform: rotate(180deg);
  transition: all 0.5s ease-in-out; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.tours {
  background-color: #18465a;
  background-image: url(../img/suitcases.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: 105% 0;
  color: #eff1ee;
  height: 1000px; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .tours {
      height: fit-content;
      background-position: 0 80%; } }
  .tours .section__title {
    margin-bottom: 100px; }
    .tours .section__title::after {
      width: 10%; }

.tours__city {
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #1b1c27;
  background-color: #fff;
  max-width: 650px; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .tours__city {
      max-width: 600px; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .tours__city {
      display: block;
      max-width: unset;
      width: 100%;
      text-align: center; } }
  .tours__city:hover {
    cursor: pointer;
    max-width: 700px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .tours__city:hover {
        max-width: 650px; } }
    .tours__city:hover .tours__city-description {
      padding: 30px 30px 30px 0; }
      @media only screen and (min-width: 651px) and (max-width: 896px) {
        .tours__city:hover .tours__city-description {
          padding: 15px 15px 15px 0; } }
      @media only screen and (min-width: 200px) and (max-width: 650px) {
        .tours__city:hover .tours__city-description {
          padding: 40px 0; } }
    .tours__city:hover .tours__city-book {
      flex-direction: column;
      padding: 0 70px; }
      @media only screen and (min-width: 651px) and (max-width: 896px) {
        .tours__city:hover .tours__city-book {
          padding: 0 25px; } }
      @media only screen and (min-width: 200px) and (max-width: 650px) {
        .tours__city:hover .tours__city-book {
          padding: 20px 0; } }
      .tours__city:hover .tours__city-book button {
        display: inline-block; }
  .tours__city:not(:last-child) {
    margin-bottom: 60px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .tours__city:not(:last-child) {
        margin-bottom: 55px; } }
  .tours__city .tours__city-icon {
    padding-left: 30px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .tours__city .tours__city-icon {
        padding-left: 20px; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .tours__city .tours__city-icon {
        padding-left: unset;
        padding-top: 20px; } }
    .tours__city .tours__city-icon i {
      font-size: 2.5rem;
      color: #9ec1d7; }
  .tours__city .tours__city-description {
    border-right: 5px dotted #65403a;
    padding: 20px 30px 20px 0; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .tours__city .tours__city-description {
        padding: 15px 0 15px 15px; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .tours__city .tours__city-description {
        border-right: unset;
        border-bottom: 5px dotted #65403a;
        padding: 20px 0; } }
  .tours__city .tours__city-book {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 30px; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .tours__city .tours__city-book {
        padding: 0 15px; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .tours__city .tours__city-book {
        padding: 20px 0; } }
    .tours__city .tours__city-book p {
      color: #65403a;
      font-size: 1.5rem;
      font-weight: 700; }
    .tours__city .tours__city-book button {
      display: inline-block;
      text-align: center;
      background-color: #9ec1d7;
      color: #fff;
      border: 1px solid #9ec1d7;
      letter-spacing: 2px;
      padding: 16px 20px;
      overflow: hidden;
      border-radius: 5px;
      cursor: pointer;
      transition: all 0.5s ease-in-out;
      font-size: 14px;
      text-transform: uppercase;
      letter-spacing: 2px;
      overflow: hidden;
      text-transform: capitalize;
      padding: 8px 10px;
      display: none; }
      .tours__city .tours__city-book button:hover {
        color: #9ec1d7;
        background-color: #fff;
        border: 1px solid #9ec1d7; }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
.contact {
  background-color: #eff1ee;
  background-image: url(../img/agency2.png);
  background-size: contain;
  background-repeat: no-repeat;
  background-position: -110% 0; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .contact {
      background-image: unset; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .contact {
      background-image: unset; } }
  .contact .section__title {
    color: #9ec1d7; }
    .contact .section__title::after {
      width: 10%; }

.contact__form {
  width: 45%;
  margin-left: auto; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .contact__form {
      width: 100%;
      margin-left: unset; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .contact__form {
      width: 100%;
      margin-left: unset; } }
  .contact__form .contact__form-field {
    display: flex;
    flex-direction: column; }
  .contact__form .contact__form-label, .contact__form .contact__form-field2 .contact__form-label2,
  .contact__form .contact__form-label2 {
    color: #9ec1d7; }
    .contact__form .contact__form-label span, .contact__form .contact__form-field2 .contact__form-label2 span,
    .contact__form .contact__form-label2 span {
      color: red; }
  .contact__form .contact__form-input, .contact__form .contact__form-textarea {
    margin: 10px 0 30px 0;
    padding: 15px 0 15px 20px;
    border: none;
    outline: none;
    border-radius: 4px; }
    .contact__form .contact__form-input::placeholder, .contact__form .contact__form-textarea::placeholder {
      color: #9ec1d7; }
  .contact__form .contact__form-textarea {
    resize: none;
    height: 150px; }
  .contact__form .contact__form-field2 {
    line-height: 1.1;
    display: grid;
    grid-template-columns: 1em auto;
    gap: 6px;
    margin-top: 23px;
    margin-bottom: 34px; }
    .contact__form .contact__form-field2 input[type="checkbox"] {
      appearance: none;
      margin: 0;
      font: inherit;
      color: #1b1c27;
      width: 1.15em;
      height: 1.15em;
      border: 0.15em solid #1b1c27;
      border-radius: 0.15em;
      transform: translateY(-0.075em);
      display: grid;
      place-content: center; }
      .contact__form .contact__form-field2 input[type="checkbox"]::before {
        content: "";
        width: 0.65em;
        height: 0.65em;
        clip-path: polygon(14% 44%, 0 65%, 50% 100%, 100% 16%, 80% 0%, 43% 62%);
        transform: scale(0);
        transform-origin: bottom left;
        transition: 120ms transform ease-in-out;
        box-shadow: inset 1em 1em #1b1c27;
        background-color: #1b1c27; }
      .contact__form .contact__form-field2 input[type="checkbox"]:checked::before {
        transform: scale(1); }
    .contact__form .contact__form-field2 .contact__form-label2 {
      margin-left: 8px; }
      .contact__form .contact__form-field2 .contact__form-label2 a {
        color: red; }
        .contact__form .contact__form-field2 .contact__form-label2 a:hover {
          text-decoration: underline; }
  .contact__form .contact__form-btn {
    display: inline-block;
    text-align: center;
    background-color: #9ec1d7;
    color: #fff;
    border: 1px solid #9ec1d7;
    letter-spacing: 2px;
    padding: 16px 20px;
    overflow: hidden;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s ease-in-out;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    overflow: hidden; }
    .contact__form .contact__form-btn:hover {
      color: #9ec1d7;
      background-color: #fff;
      border: 1px solid #9ec1d7; }
    @media only screen and (min-width: 651px) and (max-width: 896px) {
      .contact__form .contact__form-btn {
        width: 100%; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .contact__form .contact__form-btn {
        width: 100%; } }

/**************
FLEX
**************/
/**************
breakpoint
**************/
/**************
hover link
**************/
/**********************************
butoon
************************************/
footer {
  background: #18465a;
  color: #eff1ee; }
  footer a:hover {
    opacity: 0.5; }

.footer__info {
  display: flex;
  align-items: center;
  justify-content: space-between; }
  @media only screen and (min-width: 651px) and (max-width: 896px) {
    .footer__info {
      flex-direction: column;
      align-items: start;
      justify-content: start; } }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .footer__info {
      flex-direction: column;
      align-items: start;
      justify-content: start; } }

@media only screen and (min-width: 651px) and (max-width: 896px) {
  .footer__info-contact {
    order: 1;
    margin-top: 30px; } }
.footer__info-contact .footer__info-logo {
  width: 100px; }
.footer__info-contact p {
  margin: 20px 0; }
.footer__info-contact li > a > span {
  color: #9ec1d7; }

.footer__info-links {
  display: flex;
  justify-content: space-between;
  align-items: center; }
  @media only screen and (min-width: 200px) and (max-width: 650px) {
    .footer__info-links {
      display: block;
      margin-top: 50px; } }
  .footer__info-links div h4 {
    margin-bottom: 75px; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .footer__info-links div h4 {
        margin-bottom: 30px; } }
  .footer__info-links div:nth-child(2) {
    margin-left: 50px; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .footer__info-links div:nth-child(2) {
        margin-left: unset;
        margin-top: 50px; } }
  .footer__info-links ul li::before {
    font-family: "Font Awesome 5 Free";
    font-weight: 600;
    content: "\f0c1";
    color: #9ec1d7;
    margin-right: 10px; }

.footer__social {
  background-color: #1b1c27;
  padding: 30px 0; }
  .footer__social .container {
    display: flex;
    align-items: center;
    justify-content: space-between; }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .footer__social .container {
        flex-direction: column;
        align-items: center;
        justify-content: center; } }
    @media only screen and (min-width: 200px) and (max-width: 650px) {
      .footer__social .container p {
        order: 2;
        margin-top: 30px;
        font-size: 0.9rem;
        font-weight: 300; } }
    .footer__social .container .footer__social-icons {
      font-size: 1.5rem; }
      .footer__social .container .footer__social-icons i:not(:last-child) {
        margin-right: 20px; }
      .footer__social .container .footer__social-icons i:hover {
        opacity: 0.5; }

/*# sourceMappingURL=style.css.map */
