@import "var";
@import "mixins";
@import "hamburger";
@import "global";

header {
  @include breakpoint(tablet) {
    background: linear-gradient(rgba($coloBlack, 0.35), rgba($coloBlack, 0.35)),
      url("../img/background3.jpg");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    overflow: hidden;
    .bg-video {
      display: none;
    }
  }
  @include breakpoint(phone) {
    overflow: hidden;
  }
  .bg-video {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1;
    opacity: 0.65;
    overflow: hidden;
  }
  &__content {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
}

.nav__headear {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  background: $white;
  margin-top: 50px;
  color: $color4;
  font-size: 1.2rem;
  font-weight: 700;
  line-height: 27px;
  border: 1px solid #000;
  padding: 0 20px;

  .fa-times-circle {
    opacity: 0;
    &:hover {
      color: $color3;
    }
  }

  .nav__header-logo {
    width: 100px;
  }
  .nav__header-ul {
    display: flex;
    margin-right: auto;
    margin-left: 50px;
    @include breakpoint(tablet) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $color2;
      transition: $transition;
      margin: unset;
      z-index: 10;
      transform: translate(-100%);
    }
    @include breakpoint(phone) {
      position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 80%;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      background: $color2;
      transition: $transition;
      margin: unset;
      z-index: 10;
      transform: translate(-100%);
    }
    li:not(:last-child) {
      margin-right: 20px;
    }
    li {
      transition: $transition;
      @include breakpoint(tablet) {
        padding: 25px 0;
      }
      @include breakpoint(phone) {
        padding: 25px 0;
      }
      a {
        @include hoverLink;
      }
    }
  }

  .nav__header-login--ul {
    display: flex;
    @include breakpoint(tablet) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      align-items: center;
      justify-content: center;
      background: $color2;
      transition: $transition;
      transform: translate(-100%);
    }

    @include breakpoint(phone) {
      position: fixed;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 20%;
      align-items: center;
      justify-content: center;
      background: $color2;
      transition: $transition;
      transform: translate(-100%);
    }
    li {
      margin-left: 20px;
      transition: $transition;
      a {
        @include hoverLink;
      }
    }
  }

  #searchBtn {
    margin-right: 20px;
    @include breakpoint(tablet) {
      margin-left: auto;
    }
    @include breakpoint(phone) {
      margin-left: auto;
    }
    &:hover {
      color: $color3;
      cursor: pointer;
    }
  }
}

@include breakpoint(tablet) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: $color5;
    transition: $transition;
  }
}

@include breakpoint(phone) {
  .active__btn {
    opacity: 1 !important;
    z-index: 11;
    position: absolute;
    top: 30px;
    right: 30px;
    font-size: 2.5rem;
    color: $color5;
    transition: $transition;
  }
}

.nav__header-ul--toggle {
  display: none;
}

/********************************
HEADER CONTENT
********************************/

.header__content {
  display: flex;
  color: $white;
  @include breakpoint(tablet) {
    flex-direction: column;
  }
}

.header__info {
  h1 {
    font-size: 3.1rem;
    margin-top: 50px;
    text-transform: capitalize;
    max-width: 16rem;
  }
  p {
    margin: 50px 0 100px;
    max-width: 400px;
    font-weight: 500;
    font-size: 1.1rem;
  }
  .header__info-btns {
    a:not(:last-child) {
      @include btn();
    }
    a:last-child {
      @include btn($white, $color3);
    }
  }
}

.header__quide {
  .header__quide-content {
    display: flex;
    margin-top: 330px;

    @include breakpoint(tablet) {
      display: flex;
      // margin-top: 70px;
      //   margin-left: 140px;
      //   margin-bottom: 70px;
      margin: 70px 0 70px 140px;
    }

    .fa-quote-left {
      font-size: 5rem;
      color: rgba(255, 255, 255, 0.4);
    }
  }

  .header__quide-best {
    margin-left: -34px;
    margin-top: 30px;
    p {
      max-width: 460px;
    }
  }

  .header__quide-profile {
    img {
      width: 44px;
      height: 44px;
      border-radius: 50%;
    }
  }

  .header__quide-data {
    position: absolute;
    transform: rotate(-90deg) scaleX(-1);
    transform-origin: top left;
    margin-left: 4px;
    margin-top: 20px;
    width: 60px;
    .header__quide-name {
      transform: scaleX(-1);
      font-weight: 700;
      font-size: 14px;
      line-height: 20px;
    }

    .header__quide-country {
      transform: scaleX(-1);
      font-weight: 400;
      font-size: 12px;
      line-height: 20px;
    }
  }
}
